.contract-tbl-icon-btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--blue-1677ff);
}

/* container table list contract  */
.container-tbl-contract {
    margin-bottom: 28px;
    overflow-x: auto;
}

/* custom page size -> to left */
.container-tbl-contract .ant-table-pagination-right {
    display: flex;
    justify-content: flex-start !important;
}

/* Modal tbl contract */
.title-update-info-contract {
    margin-bottom: 12px;
}

.container-modal-tbl-contract {
    position: relative;
}

.inner-modal-tbl-contract {
    overflow-x: auto;
}

/* checkbox on modal */
.gutter-item-chk {
    margin-top: 5px;
}

/* date picker on modal */
.gutter-item-date-picker {
    width: 100% !important;
}

.space-col {
    margin: 10px 0;
}

/* table clock on modal  */
/* custom page size -> to left */
.tablist-tbl-clock-on-modal .ant-table-pagination-right {
    display: flex;
    justify-content: flex-start !important;
}

.tablist-tbl-clock-on-modal {
    overflow-x: auto;
}

/* func clock on modal */
.tablist-func-clock-btn {
    margin-bottom: 6px;
}

/* container table history use water */
.container-tbl-history-water {
    margin-top: 16px;
    overflow-x: auto;
}

.title-tbl-his {
    text-align: center;
}

.title-tbl-his p {
    font-size: 1.6rem;
    font-weight: bold;
}

/* Info history */
.info-his-item {
    display: flex;
    align-items: center;
}

.info-his-item-lbl {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 24px;
}

.info-his-item-val {
    font-size: 1.4rem;
    font-weight: 500;
}

.container-detail-clock {
    height: 71vh;
    overflow-y: scroll;
}

/* Border all card */
.card-item-title {
    font-size: 1.6rem !important;
}

/* Buttons change clock */
.btn-func-change-clock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-close-change-clock {
    margin-left: 12px;
}
