.contract-tbl-icon-btn {
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--blue-1677ff);
} 

/* container table list contract  */
.container-tbl-contract {
    margin-bottom: 28px;
    overflow-x: auto;
}

/* Modal tbl contract */
.title-update-info-contract {
    margin-bottom: 12px;
}

.container-modal-tbl-contract {
    position: relative;
}

.inner-modal-tbl-contract {
    overflow-x: auto;
}

/* checkbox on modal */
.gutter-item-chk {
    margin-top: 5px;
}

/* date picker on modal */
.gutter-item-date-picker {
    width: 100% !important;
}

.space-col {
    margin: 10px 0;
}

/* table clock on modal  */
.tablist-tbl-clock-on-modal {
    overflow-x: auto;
}

/* func clock on modal */
.tablist-func-clock-btn {
    margin-bottom: 6px;
}
 
/* Tabs */
.tab-item {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white);
    padding: 6px;
    border-radius: 6px;
}

.tab-item:hover {
    transition: 0.3s all;
}

.tab-item-1 {
    background-color: var(--blue-btn);
}

.tab-item-1:hover {
    background-color: var(--blue-btn-hover);
}

.tab-item-2 {
    background-color: var(--orange-btn);
}

.tab-item-2:hover {
    background-color: var(--orange-btn-hover);
}

.tab-item-3 {
    background-color: var(--red-btn);
}

.tab-item-3:hover {
    background-color: var(--red);
}

.tab-item-4 {
    background-color: var(--green-btn);
}

.tab-item-4:hover {
    background-color: var(--green-btn-hover);
}

.tab-item-5 {
    background-color: var(--purple-btn);
}

.tab-item-5:hover {
    background-color: var(--purple-btn-hover);
}

.tab-item-6 {
    background-color: var(--orange-light-btn);
}

.tab-item-6:hover {
    background-color: var(--orange-light-btn-hover);
}

.tab-item-7 {
    background-color: var(--sky-blue);
}

.tab-item-7:hover {
    background-color: var(--sky-blue-hover);
}

.tab-item-8 {
    background-color: var(--orange-medium-btn);
}

.tab-item-8:hover {
    background-color: var(--orange-medium-btn-hover);
}

.tab-item span {
    margin-right: 2px !important;
}

/* container table history use water */
.container-tbl-history-water {
    margin-top: 16px;
    overflow-x: auto;
}

.history-water-btn {
    display: flex;
    justify-content: flex-end;
}

.title-tbl-his {
    text-align: center;
}

.title-tbl-his p {
    font-size: 1.6rem;
    font-weight: bold;
}

/* Info history */
.info-his-item {
    display: flex;
    align-items: center;
}

.info-his-item-lbl {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 24px;
}

.info-his-item-val {
    font-size: 1.4rem;
    font-weight: 500;
}

.container-detail-clock {
    height: 64vh;
    overflow-y: scroll;
}

.container-info-contract {
    height: 64vh;
}

.container-info-clock {
    height: 65vh;
}

.container-info-customer {
    height: 65vh;
}

/* Border all card */
.card-item-title {
    font-size: 1.6rem !important;
}

/* Buttons change clock */
.btn-func-change-clock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-close-change-clock {
    margin-left: 12px;
}

/* Debt (Tiện ích) */
.debt-title-name {
    margin-top: 6px;
    font-weight: 500;
    cursor: pointer;
}

.debt-title-name:hover {
    color: var(--blue-1677ff);
    transition: 0.4s all;
}

.debt-icon-left {
    margin-right: 6px;
}

.debt-func-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.space-btn-item {
    margin-right: 10px;
}

/* container table debt */
.container-tbl-debt {
    overflow-x: auto;
}

/* Popover */
.popover-debt {
    pointer-events: none;
}container-modal-tbl-contract

.fix-popover-z-index {
    z-index: 10 !important;
}

/* Buttons update info debt */
.func-update-info-debt-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item-update-info-debt-btn {
    margin: 0 12px;
}

/* container debt utilities */
.container-debt-utilities {
    display: flex;
    flex-direction: column;
}

/* container table sort number */
.container-tbl-sort-number {
    overflow-x: auto;
}

/* Buttons sort number */
.func-sort-number-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item-sort-number-btn {
    margin-right: 12px;
}

/* Collapse space */
.collapse-space-left-item {
    margin-left: 10px;
}

/* Custom buttons */
.custom-btn-reset-form-contract {
    padding: 0 10px;
}

.custom-btn-3-form-contract {
    padding: 0 13px;
}

/* Custom label + input */
.container-label-input {
    display: flex;
    align-items: center;
}

.space-right-10 {
    margin-right: 10px;
}