.black-input {
  color: black;
  font-weight: bold;
}
.footer-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.input-label {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  color: #bfbfbf;
  cursor: text;
}

.input-label.hidden {
  display: none;
}

/* @media (max-width: 600px) {
    .custom-form-item {
      flex-direction: column;
    }
  } */
  /* .table.d1 {
    font-size: 50%;
} */

  /* .full-width-col {
    flex-grow: 0;
  }
.custom-row {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .custom-form-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .small-button {
    width: 80px;
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
  } */
  /* các ô xanh đỏ tím vàng  */
  /* .color-boxes {
    display: flex;
  }
  
  .color-box {
    width: 100px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border-radius: 10px;
  }
  
  .blue {
    border: 2px solid blue;
  }
  
  .red {
    border: 2px solid red;
  }
  
  .purple {
    border: 2px solid purple;
  }
  
  .yellow {
    border: 2px solid yellow;
  } */
  
  /* kich thước các ô */
  /* input#month {
    font-size: 70%;
}
input#\31 {
    font-size: 70%;
}
input#\32 {
    font-size: 70%;
}
.s1 {
    font-size: 70%;
}
input#\33 {
    font-size: 70%;
}
input#\34 {
    font-size: 70%;
}
input#\35 {
    font-size: 70%;
}
input#\36 {
    font-size: 70%;
}
input#\37 {
    font-size: 70%;
}
input#\38 {
    font-size: 70%;
}
input#\39 {
    font-size: 70%;
} */