@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&family=Quicksand:wght@300;400;500;600;700;800;900&display=swap');

/* init var */
:root {
    /* color */
    --white: #fff;
    --red: #ff0000;
    --blue-e6f4ff: #e6f4ff;
    --blue-1677ff: #1677ff;

    /* font-family */
    --font-family: 'Quicksand', 'sans-serif' !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* default */
body {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: var(--black);
}
 /* dãn cột table */
.cell-wrap {
    word-wrap: break-word;
  }
/* custom */
.gutter-item-mobile {
    margin-left: 10px;
}

/* Scrollbar Css */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* Table antd */
.ant-table-thead .ant-table-cell {
    font-size: 1.6rem;
    font-weight: 800 !important;
}

.ant-table-cell {
    font-size: 1.5rem;
    font-weight: 600;
}

/* ----- RESPONSIVE HERE ----- */

/* Thiết kế cho kích thước màn hình dưới 576px (mobile) */
@media (max-width: 575px) {
    /* customer dev */
    .container-form-cus-dev {
        padding-right: 18px;
    }

    .reset-report-btn {
        margin: 12px 0;
    }

    .reporter-auto-search-input {
        width: 100%;
        padding-right: 18px;
    }

    /* contract */
    .contract-search-btn {
        margin-left: 0;
        margin-bottom: 12px;
    }

    .container-tbl-contract {
        margin-top: 12px;
    }

    /* tabs bottom (page contract) */
    .contract-bottom-func {
        position: fixed;
        right: 16px;
        bottom: 12px;
        font-size: 2rem;
        font-weight: 800;
        border-radius: 99px;
        padding: 12px;
        color: var(--white);
        background-color: var(--blue-1677ff);
        box-shadow: 0 0 12px 0 var(--blue-1677ff);
    }

    /* Modal (Danh sách sắp xếp đồng hồ) */
    .func-sort-number-btn {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .item-sort-number-btn, .item-sort-number-btn-close {
        margin-right: 0;
        margin-top: 12px;
        width: 100%;
    }

    /* Modal (Thông tin hợp đồng nợ) */
    .debt-func-btn {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .space-btn-item, .space-btn-item-close {
        margin-right: 0;
        margin-top: 12px;
        width: 100%;
    }

    /* Modal (Form update clock) */
    .btn-func-change-clock {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .btn-close-change-clock {
        margin-left: 0;
        margin-top: 12px;
        width: 100%;
    }

    .btn-update-change-clock {
        width: 100%;
    }

    /* Modal (Cập nhật thông tin hợp đồng) */
    .collapse-space-top-mobile-item {
        margin-top: 10px;
    }

    /* info clock */
    .func-info-clock-btn-mobile {
        margin-top: 10px;
    }

    .tablist-func-clock-btn-mobile {
        margin-top: 10px;
        margin-right: 10px;
        width: 100%;
    }

    /* info detail clock */
    .fix-input-number-mobile {
        width: 100%;
    }

    .fix-date-picker-mobile {
        width: 100%;
    }

    .func-form-create-contract-mobile {
        display: flex;
        flex-direction: column;
    }

    .gutter-item-btn {
        margin-top: 10px;
        margin-left: 0 !important;
    }

    /* payment */
    .btn-search-payment {
        margin-left: 0;
        margin-bottom: 22px;
    }

    .gutter-item-mobile {
        margin: 0;
    }
}
  
/* Thiết kế cho kích thước màn hình từ 576px đến 767px (tablet) */
@media (min-width: 576px) and (max-width: 767px) {
    /* customer dev */
    .container-form-cus-dev {
        padding-right: 18px;
    }

    /* contract */
    .contract-search-btn {
        margin-left: 0;
        margin-bottom: 12px;
    }

    /* tabs bottom (page contract) */
    .contract-bottom-func {
        position: fixed;
        right: 16px;
        bottom: 12px;
        font-size: 2rem;
        font-weight: 800;
        border-radius: 99px;
        padding: 12px;
        color: var(--white);
        background-color: var(--blue-1677ff);
        box-shadow: 0 0 12px 0 var(--blue-1677ff);
    }

    /* payment */
    .btn-search-payment {
        margin-left: 0;
        margin-bottom: 22px;
    }

}
  
/* Thiết kế cho kích thước màn hình từ 768px trở lên (desktop) */
@media (min-width: 768px) {
    /* customer dev */
    .container-form-cus-dev {
        padding-right: 18px;
    }

    /* contract */
    .contract-search-btn {
        /* margin-left: 0; */
        margin-bottom: 12px;
    }
}

/* Thiết kế cho kích thước màn hình từ 769px đến 991px (desktop - large desktop) */
@media (min-width: 769px) and (max-width: 991px) {
    /* tabs bottom (page contract) */
    .contract-bottom-func {
        position: fixed;
        right: 16px;
        bottom: 12px;
        font-size: 2rem;
        font-weight: 800;
        border-radius: 99px;
        padding: 12px;
        color: var(--white);
        background-color: var(--blue-1677ff);
        box-shadow: 0 0 12px 0 var(--blue-1677ff);
    }

    /* payment */
    .gutter-item-btn {
        margin-left: 22px;
    }
}
  
/* Thiết kế cho kích thước màn hình từ 992px trở lên (large desktop) */
@media (min-width: 992px) {
    
}

/* ----- END RESPONSIVE ----- */
  

/* Common */
.ant-form-item {
    margin-bottom: 9px;
}

.ant-tabs-card >.ant-tabs-nav .ant-tabs-tab {
    padding: 8px 8px;
}