@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&family=Quicksand:wght@300;400;500;600;700;800;900&display=swap');

/* init var */
:root {
    /* color */
    --white: #fff;
    --red: #ff0000;
    --blue-e6f4ff: #e6f4ff;
    --blue-1677ff: #1677ff;
    --text-table: #5a6a85;
    --btn-disabled: #808080;

    /* buttons */
    --blue-btn: #1677ffe3;
    --blue-btn-hover: #0064f1e3;
    --blue-light-btn: #5D87FF;
    --blue-light-btn-hover: #385BFF;
    --blue-normal-btn: #3580BB;
    --blue-normal-btn-hover: #3E96DB;
    --orange-btn: #FA896B;
    --orange-btn-hover: #e9491f;
    --orange-light-btn: #f5bd75;
    --orange-light-btn-hover: #f3a641;
    --orange-medium-btn: #F0974F;
    --orange-medium-btn-hover: #e97415;
    --orange-normal-btn: #FFAE1F;
    --orange-normal-btn-hover: #fe9d00;
    --red-btn: #f64848;
    --green-btn: #0ce3bc;
    --green-btn-hover: #00cca7;
    --purple-btn: #7D94FF;
    --purple-btn-hover: #3b59e7;
    --sky-blue: #71d1f8;
    --sky-blue-hover: #31b7ec;
    

    /* font-family */
    --font-family: 'Quicksand', 'sans-serif' !important;
}
.td.ant-table-cell.cell-wrap {
    color: gray;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html {
    font-size: 62.5%;
}

/* default */
body {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: var(--black);
}
 /* dãn cột table */
.cell-wrap {
    word-wrap: break-word;
  }
/* custom */
.gutter-item-mobile {
    margin-left: 10px;
}

/* color text of table */
.ant-table-cell {
    font-size: 1.4rem !important;
    color: var(--text-table);
}

/* custom Tabs */
.ant-tabs-tab {
    padding: 0 !important; 
}

.tab-item-disabled {
    background-color: var(--btn-disabled);
}

.tab-item-disabled:hover {
    background-color: var(--btn-disabled);
}

/* custom buttons */
.custom-btn-search {
    border: 1px solid var(--blue-1677ff);
    color: var(--blue-1677ff);
}

.custom-btn-search:hover {
    border: 1px solid var(--blue-1677ff);
    background-color: var(--blue-1677ff);
    color: var(--white) !important;
}

.custom-btn-del {
    border: 1px solid var(--red-btn);
    color: var(--white);
    background-color: var(--red-btn);
}

.custom-btn-del:hover {
    border: 1px solid var(--red) !important;
    color: var(--white) !important;
    background-color: var(--red);
}

.custom-btn-export {
    border: 1px solid var(--green-btn);
    color: var(--white);
    background-color: var(--green-btn);
}

.custom-btn-export:hover {
    border: 1px solid var(--green-btn-hover) !important;
    color: var(--white) !important;
    background-color: var(--green-btn-hover);
}

.custom-btn-update {
    border: 1px solid var(--sky-blue);
    color: var(--white);
    background-color: var(--sky-blue);
}

.custom-btn-update:hover {
    border: 1px solid var(--sky-blue-hover) !important;
    color: var(--white) !important;
    background-color: var(--sky-blue-hover);
}

.custom-btn-add {
    border: 1px solid var(--blue-btn);
    color: var(--white);
    background-color: var(--blue-btn);
}

.custom-btn-add:hover {
    border: 1px solid var(--blue-btn-hover) !important;
    color: var(--white) !important;
    background-color: var(--blue-btn-hover);
}

.custom-btn-save-and-add {
    border: 1px solid var(--purple-btn);
    color: var(--white);
    background-color: var(--purple-btn);
}

.custom-btn-save-and-add:hover {
    border: 1px solid var(--purple-btn-hover) !important;
    color: var(--white) !important;
    background-color: var(--purple-btn-hover);
}

.custom-btn-close {
    border: 1px solid var(--orange-btn);
    color: var(--white);
    background-color: var(--orange-btn);
}

.custom-btn-close:hover {
    border: 1px solid var(--orange-btn-hover) !important;
    color: var(--white) !important;
    background-color: var(--orange-btn-hover);
}

.custom-btn-reset {
    border: 1px solid var(--blue-light-btn);
    color: var(--white);
    background-color: var(--blue-light-btn);
}

.custom-btn-reset:hover {
    border: 1px solid var(--blue-light-btn-hover) !important;
    color: var(--white) !important;
    background-color: var(--blue-light-btn-hover);
}

.custom-btn-watch-report {
    border: 1px solid var(--orange-normal-btn);
    color: var(--white);
    background-color: var(--orange-normal-btn);
}

.custom-btn-watch-report:hover {
    border: 1px solid var(--orange-normal-btn-hover) !important;
    color: var(--white) !important;
    background-color: var(--orange-normal-btn-hover);
}

/* Biên bản thỏa hiệp */
.custom-btn-agreement {
    border: 1px solid var(--orange-light-btn);
    color: var(--white);
    background-color: var(--orange-light-btn);
}

.custom-btn-agreement:hover {
    border: 1px solid var(--orange-light-btn-hover) !important;
    color: var(--white) !important;
    background-color: var(--orange-light-btn-hover);
}

/* Tệp đính kèm  */
.custom-btn-attachment {
    border: 1px solid var(--orange-medium-btn);
    color: var(--white);
    background-color: var(--orange-medium-btn);
}

.custom-btn-attachment:hover {
    border: 1px solid var(--orange-medium-btn-hover) !important;
    color: var(--white) !important;
    background-color: var(--orange-medium-btn-hover);
}

/* Sắp xếp */
.custom-btn-sort {
    border: 1px solid var(--blue-normal-btn);
    color: var(--white);
    background-color: var(--blue-normal-btn);
}

.custom-btn-sort:hover {
    border: 1px solid var(--blue-normal-btn-hover) !important;
    color: var(--white) !important;
    background-color: var(--blue-normal-btn-hover);
}

/* end custom buttons */

/* Scrollbar Css */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* Table antd */
.ant-table-thead .ant-table-cell {
    font-size: 1.6rem;
    font-weight: 800 !important;
}

.ant-table-cell {
    font-size: 1.5rem;
    font-weight: 600;
}

/* ----- RESPONSIVE HERE ----- */

/* Thiết kế cho kích thước màn hình dưới 576px (mobile) */
@media (max-width: 575px) {
    /* customer dev */
    .container-form-cus-dev { 
        padding-right: 18px;
    }

    .reset-report-btn {
        margin: 12px 0;
    }

    .reporter-auto-search-input {
        width: 100%;
        padding-right: 18px;
    }

    /* contract */
    .contract-search-btn {
        margin-left: 0;
        margin-bottom: 12px;
    }

    .container-tbl-contract {
        margin-top: 12px;
    }

    /* tabs bottom (page contract) */
    .contract-bottom-func {
        position: fixed;
        right: 16px;
        bottom: 12px;
        font-size: 2rem;
        font-weight: 800;
        border-radius: 99px;
        padding: 12px;
        color: var(--white);
        background-color: var(--blue-1677ff);
        box-shadow: 0 0 12px 0 var(--blue-1677ff);
    }

    /* Modal (Danh sách sắp xếp đồng hồ) */
    .func-sort-number-btn {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .item-sort-number-btn, .item-sort-number-btn-close {
        margin-right: 0;
        margin-top: 12px;
        width: 100%;
    }

    /* Modal (Thông tin hợp đồng nợ) */
    .debt-func-btn {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .space-btn-item, .space-btn-item-close {
        margin-right: 0;
        margin-top: 12px;
        width: 100%;
    }

    /* Modal (Form update clock) */
    .btn-func-change-clock {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .btn-close-change-clock {
        margin-left: 0;
        margin-top: 12px;
        width: 100%;
    }

    .btn-update-change-clock {
        width: 100%;
    }

    /* Modal (Cập nhật thông tin hợp đồng) */
    .collapse-space-top-mobile-item {
        margin-top: 10px;
    }

    /* info clock */
    .func-info-clock-btn-mobile {
        margin-top: 10px;
    }

    .tablist-func-clock-btn-mobile {
        margin-top: 10px;
        margin-right: 10px;
        width: 100%;
    }

    /* info detail clock */
    .fix-input-number-mobile {
        width: 100%;
    }

    .fix-date-picker-mobile {
        width: 100%;
    }

    .func-form-create-contract-mobile {
        display: flex;
        flex-direction: column;
    }

    .gutter-item-btn {
        margin-top: 10px;
        margin-left: 0 !important;
    }

    .collapse-space-left-item {
        margin-left: 0;
    }

    .container-info-contract {
        height: 64vh;
        overflow-y: scroll;
    }

    .container-info-clock {
        height: 65vh;
        overflow-y: scroll;
    }
    
    .container-info-customer {
        height: 65vh;
        overflow-y: scroll;
    }

    .tablist-func-clock-btn-mobile {
        margin-right: 10px;
    }

    .footer-func-btn-item-report {
        margin: 10px 0;
    }

    .footer-func-btn-item-print {
        margin-bottom: 10px;
    }

    .footer-func-btn-item-save-add {
        margin-bottom: 10px;
    }
    
    .footer-func-btn-item-save {
        margin-bottom: 10px;
    }

    /* payment */
    .btn-search-payment {
        margin-left: 0;
        margin-bottom: 22px;
    }

    .gutter-item-mobile {
        margin: 0;
    }

    /* form pay counter */
    .pay-counter-footer-quantity {
        margin: 10px 0;
        margin-right: 0 !important;
    }

    .pay-counter-footer-total {
        margin: 10px 0;
        margin-right: 0 !important;
    }

    .custom-btn-export {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .pay-counter-pay-and-close {
        display: flex;
        flex-direction: column;
    }

    .custom-btn-close {
        margin-top: 10px;
        margin-left: 0 !important;
    }

    /* modal (các chỉ số) */
    .custom-progress-mobile {
        overflow-x: auto;
    }
}
  
/* Thiết kế cho kích thước màn hình từ 576px đến 767px (tablet) */
@media (min-width: 576px) and (max-width: 767px) {
    /* customer dev */
    .container-form-cus-dev {
        padding-right: 18px;
    }

    /* contract */
    .contract-search-btn {
        margin-left: 0;
        margin-bottom: 12px;
    }

    .collapse-space-left-item {
        margin-left: 0;
        margin-top: 10px;
    }

    /* tabs bottom (page contract) */
    .contract-bottom-func {
        position: fixed;
        right: 16px;
        bottom: 12px;
        font-size: 2rem;
        font-weight: 800;
        border-radius: 99px;
        padding: 12px;
        color: var(--white);
        background-color: var(--blue-1677ff);
        box-shadow: 0 0 12px 0 var(--blue-1677ff);
    }

    .container-info-contract {
        height: 64vh;
        overflow-y: scroll;
    }

    .container-info-clock {
        height: 65vh;
        overflow-y: scroll;
    }
    
    .container-info-customer {
        height: 65vh;
        overflow-y: scroll;
    }

    .tablist-func-clock-btn-mobile {
        margin-right: 10px;
    }

    .footer-func-btn-item-report {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 8px;
    }

    .footer-func-btn-item-print {
        margin-right: 8px;
    }

    .footer-func-btn-item-save-add {
        margin-right: 8px;
    }

    .footer-func-btn-item-save {
        margin-right: 8px;
    }

    /* payment */
    .btn-search-payment {
        margin-left: 0;
        margin-bottom: 22px;
    }

    /* form pay counter */
    .pay-counter-footer-quantity {
        margin: 10px 0;
        margin-right: 0 !important;
    }

    .pay-counter-footer-total {
        margin: 10px 0;
        margin-right: 0 !important;
    }
}
  
/* Thiết kế cho kích thước màn hình từ 768px trở lên (desktop) */
@media (min-width: 768px) {
    /* customer dev */
    .container-form-cus-dev {
        padding-right: 18px;
    }

    /* contract */
    .contract-search-btn {
        /* margin-left: 0; */
        margin-bottom: 12px;
    }
}

/* Thiết kế cho kích thước màn hình từ 769px đến 991px (desktop - large desktop) */
@media (min-width: 769px) and (max-width: 991px) {
    /* tabs bottom (page contract) */
    .contract-bottom-func {
        position: fixed;
        right: 16px;
        bottom: 12px;
        font-size: 2rem;
        font-weight: 800;
        border-radius: 99px;
        padding: 12px;
        color: var(--white);
        background-color: var(--blue-1677ff);
        box-shadow: 0 0 12px 0 var(--blue-1677ff);
    }

    /* payment */
    .gutter-item-btn {
        margin-left: 22px;
    }

    /* Collapse (Contract) */
    .collapse-space-left-item {
        margin-left: 10px;
    }

    .container-info-contract {
        height: 64vh;
        overflow-y: scroll;
    }

    .container-info-clock {
        height: 65vh;
        overflow-y: scroll;
    }
    
    .container-info-customer {
        height: 65vh;
        overflow-y: scroll;
    }

    .tablist-func-clock-btn-mobile {
        margin-right: 10px;
    }

    .footer-func-btn-item-report {
        margin: 0 10px
    }

    .footer-func-btn-item-save-add {
        margin: 10px 10px;
    }

    .footer-func-btn-item-save {
        margin-right: 10px;
    }

    /* form pay counter */
    .pay-counter-footer-quantity {
        margin: 10px 0;
    }

    .pay-counter-footer-total {
        margin: 10px 0;
        margin-right: 0 !important;
    }
}
  
/* Thiết kế cho kích thước màn hình từ 992px trở lên (large desktop) */
@media (min-width: 992px) {
    
}

/* ----- END RESPONSIVE ----- */
  

/* Common */
.ant-form-item {
    margin-bottom: 9px;
}

.ant-tabs-card >.ant-tabs-nav .ant-tabs-tab {
    padding: 8px 8px;
}