.management-price-subject-header {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  padding: 5px 10px;
}

.management-price-subject-table {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.management-price-subject-header {
  position: relative;
  z-index: 2;
}
