.title {
  font-weight: 600;
}

.ant-table-tbody
  .ant-table-expanded-row
  .ant-table-cell:not(.ant-table-selection-column) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ant-table-selection-column {
  padding: 0 16px !important;
}
