.ant-layout-sider-children {
    height: 100vh !important;
    background-color: var(--white);
}

.ant-layout-header  {
    width: 100% !important;
    padding: 0 !important;
    background-color: var(--white);
}

.logo-primary {
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.site-layout-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 16px;
}

.site-layout-info h4 {
    margin-left: 6px;
}

.text-welcome {
    display: flex;
    justify-content: center;
}