.wrapper-contract {
    position: relative;
}

.gutter-item {
    margin-right: 6px;
}

/* button search */
.contract-search-btn {
    margin-left: 12px;
}

/* func bottom */
.ant-layout-content {
    position: relative;
}

.contract-bottom { 
    position: fixed;
    bottom: 0;
    left: 280px;
    border-radius: 6px;
    padding: 6px 6px 0 6px;
    background-color: var(--blue-e6f4ff);
}

/* tab list */ 
.ant-tabs-nav {
    margin-bottom: 4px !important;
}

.contract-bottom-func:hover {
    opacity: 0.9;
    transition: 0.3s all;
    cursor: pointer;
}