.category-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-header-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category-header-filter {
  display: flex;
  gap: 5px;
}

.category-header-filter .filter-input {
  width: 300px;
}

.button {
  display: flex;
  width: 100%;
  padding: 8px !important;
  height: 33px;
  text-align: center;
  align-items: center;
}
/* phone: width < 740px */
@media (max-width: 46.1875em) {
  .category-header-wrapper {
    flex-direction: column;
    align-items: normal;
    row-gap: 5px;
  }
  .button {
    width: 100%;
  }
  .category-header-filter {
    flex-direction: column;
  }
  .category-header-filter .filter-input,
  .ant-picker {
    width: 100%;
  }
  .category-header-content {
    position: fixed;
    right: 16px;
    bottom: 12px;
    font-size: 2rem;
    font-weight: 800;
    border-radius: 99px;
    padding: 12px;
    color: var(--white);
    background-color: var(--blue-1677ff);
    box-shadow: 0 0 12px 0 var(--blue-1677ff);
  }
}

/* Thiết kế cho kích thước màn hình từ 769px đến 991px (desktop - large desktop) */
@media (min-width: 769px) and (max-width: 991px) {
  .category-header-content {
    position: fixed;
    right: 16px;
    bottom: 12px;
    font-size: 2rem;
    font-weight: 800;
    border-radius: 99px;
    padding: 12px;
    color: var(--white);
    background-color: var(--blue-1677ff);
    box-shadow: 0 0 12px 0 var(--blue-1677ff);
  }
  .category-header-wrapper {
    display: inline;
  }
  .category-header-filter {
    flex-direction: column;
  }
  .category-header-filter .filter-input,
  .ant-picker {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .category-header-content {
    position: fixed;
    right: 16px;
    bottom: 12px;
    font-size: 2rem;
    font-weight: 800;
    border-radius: 99px;
    padding: 12px;
    color: var(--white);
    background-color: var(--blue-1677ff);
    box-shadow: 0 0 12px 0 var(--blue-1677ff);
  }
  .category-header-filter {
    flex-direction: column;
  }
}

/* Thiết kế cho kích thước màn hình từ 576px đến 767px (tablet) */
@media (min-width: 576px) and (max-width: 767px) {
  .category-header-content {
    position: fixed;
    right: 16px;
    bottom: 12px;
    font-size: 2rem;
    font-weight: 800;
    border-radius: 99px;
    padding: 12px;
    color: var(--white);
    background-color: var(--blue-1677ff);
    box-shadow: 0 0 12px 0 var(--blue-1677ff);
  }
  .category-header-wrapper {
    display: inline;
  }
  .category-header-filter {
    flex-direction: column;
  }
  .category-header-filter .filter-input,
  .ant-picker {
    width: 100%;
  }
}

/* Thiết kế cho kích thước màn hình từ 768px trở lên (desktop) */
@media (min-width: 768px) {
  .category-header-actions {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}
